@use "@styles/variables" as *;

.Layout {
  height: 100vh;
  main{
    min-height: 100vh;
  }
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  li{
    list-style: none;
   margin-right: 40px;
   margin-top: 25px;
    font-weight:600 ;
  
    

// &:hover {
// color:linear-gradient(169deg, rgba(255,33,255,1) 35%, rgba(87,93,255,1) 77%);
// transition: 1s ease-in-out;
//   }
  }
}
a {
  color: rgb(255, 255, 242);
  font-size: 2.8rem;
  text-decoration: none;
  &:hover{
    color: rgba(87,93,255,1);
    text-decoration:underline rgba(255,33,255,1);
    // color: linear-gradient(169deg, rgba(255,33,255,1) 35%, rgba(87,93,255,1) 77%);
  }
 
}
footer{
  margin-top: auto;
  position:relative;
    bottom:0;
    left:0;
  
}