@use "@styles/variables" as *;
@use "./inter-font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html {
  
  font-size: 62.5%;
  color: rgb(255, 255, 242);
  background-color: rgb(26, 20, 35); 
}

body {
  min-height: 100vh;
  
}
